.Icon {
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Svg {
  fill: #ccc;
  width: 14px;
  height: 16px;
  line-height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
